/*commun à chaque page*/

header{
    border: thin red solid;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img{
    border: thin purple solid;
    margin-top: 10px;
    margin-bottom: 10PX;
    width: 100px;
    height: auto;
}

header nav{
    border: thin brown solid;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/*fin commun à chaque page*/


/*style page liste produit*/

.category {
    border: 2px solid #000;
    margin-bottom: 20px;
    padding: 10px;
}

/* Bandeau cliquable */
.legumes {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.legumes-img {
    width: 60px;
    height: 60px;
    border: 2px solid #000;
}

/* Bloc produit */
.produits {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    margin-top: 20px;
    padding: 15px;
}

.brocoli-img {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    margin-right: 10px;
}

.brocoli {
    flex: 1;
}

/* Zone compteur */
.counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    background: white;
    font-size: 24px;
    cursor: pointer;
}

.number {
    width: 30px;
    text-align: center;
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 0;
}


/*fin style liste produit*/

/*style page réservation*/


/*fin style page réservation*/


/* Cadre principal */
